.top {
    padding: 20px;
  
    h2 {
      text-transform: uppercase;
    }
    .topGallery {
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      &__item {
        display: flex;
        align-items: center;
  
        p {
          font-size: 260px;
          font-weight: bold;
          
          position: relative;
          left: 40px;
          text-shadow: -4px -4px 0 grey, 4px -4px 0 grey, -4px 4px 0 grey,
            4px 4px 0 grey;
        }
  
        img {
          width: 150px;
          z-index: 1
        }
      }
    }
  }
  