.navigator {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  height: 50px;
  padding: 10px;
  height: 20px;
  
    &__item a {
      color: rgb(255, 255, 255);
      text-transform: uppercase;
  
      &:hover {
        color: red;
      }
    }
  }
  
  .b-header {
    display: flex;
justify-content: space-between;
margin-bottom: 30px;
height: 50px;
width: 100%;
  }

  li{
    margin: 0 10px;
  }

  .b-logo{
    margin: 50px;
width: 200px;
height: 70px;
cursor: pointer;
  }