* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

//GLOBAL

body {
  font-family: "Poppins", sans-serif;
  color: rgb(22, 22, 22);
}

a {
  text-transform: uppercase;
  font-weight: bold;
  color: #dc1a28;
  transition: 0.5s;
  &:hover {
    color: orange;
  }
}